 <h1>20BCE020 <br>
Practical-8 IRS <br>
Implement a Traditional Recommender System using the Collaborative Filtering technique. The recommender system predicts a rating for an unknown item for a specific user. <br>
Item-Item Collaborative Filtering

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict={"User":["U1","U2","U3","U4","U5"],
 "movie1":[3,np.nan,5,1,5],
 "movie2":[5,4,1,np.nan,5],
 "movie3":[np.nan,5,4,2,4],
 "movie4":[2,1,2,2,np.nan],
 "movie5":[np.nan,2,np.nan,5,np.nan],
"movie6":[2,np.nan,3,np.nan,4],
"movie7":[np.nan,5,3,np.nan,2],
"movie8":[3,4,np.nan,2,5],
"movie9":[np.nan,3,1,np.nan,5],
"movie10":[3.5,5,2,np.nan,np.nan]}

In [3]:
print(dict)
df=pd.DataFrame(dict)
df=df.set_index('User')

{'User': ['U1', 'U2', 'U3', 'U4', 'U5'], 'movie1': [3, nan, 5, 1, 5], 'movie2': [5, 4, 1, nan, 5], 'movie3': [nan, 5, 4, 2, 4], 'movie4': [2, 1, 2, 2, nan], 'movie5': [nan, 2, nan, 5, nan], 'movie6': [2, nan, 3, nan, 4], 'movie7': [nan, 5, 3, nan, 2], 'movie8': [3, 4, nan, 2, 5], 'movie9': [nan, 3, 1, nan, 5], 'movie10': [3.5, 5, 2, nan, nan]}

In [4]:
print(df)

      movie1  movie2  movie3  movie4  movie5  movie6  movie7  movie8  movie9  \
User
U1       3.0     5.0     NaN     2.0     NaN     2.0     NaN     3.0     NaN
U2       NaN     4.0     5.0     1.0     2.0     NaN     5.0     4.0     3.0
U3       5.0     1.0     4.0     2.0     NaN     3.0     3.0     NaN     1.0
U4       1.0     NaN     2.0     2.0     5.0     NaN     NaN     2.0     NaN
U5       5.0     5.0     4.0     NaN     NaN     4.0     2.0     5.0     5.0

      movie10
User
U1        3.5
U2        5.0
U3        2.0
U4        NaN
U5        NaN

In [5]:
col_mean=df.mean(axis=0)
print(col_mean)

movie1     3.500000
movie2     3.750000
movie3     3.750000
movie4     1.750000
movie5     3.500000
movie6     3.000000
movie7     3.333333
movie8     3.500000
movie9     3.000000
movie10    3.500000
dtype: float64

In [6]:
ddf = df.sub(col_mean, axis=1)

In [7]:
print(ddf)

      movie1  movie2  movie3  movie4  movie5  movie6    movie7  movie8  \
User
U1      -0.5    1.25     NaN    0.25     NaN    -1.0       NaN    -0.5
U2       NaN    0.25    1.25   -0.75    -1.5     NaN  1.666667     0.5
U3       1.5   -2.75    0.25    0.25     NaN     0.0 -0.333333     NaN
U4      -2.5     NaN   -1.75    0.25     1.5     NaN       NaN    -1.5
U5       1.5    1.25    0.25     NaN     NaN     1.0 -1.333333     1.5

      movie9  movie10
User
U1       NaN      0.0
U2       0.0      1.5
U3      -2.0     -1.5
U4       NaN      NaN
U5       2.0      NaN

In [8]:
df=df.fillna(0)
print(df)

      movie1  movie2  movie3  movie4  movie5  movie6  movie7  movie8  movie9  \
User
U1       3.0     5.0     0.0     2.0     0.0     2.0     0.0     3.0     0.0
U2       0.0     4.0     5.0     1.0     2.0     0.0     5.0     4.0     3.0
U3       5.0     1.0     4.0     2.0     0.0     3.0     3.0     0.0     1.0
U4       1.0     0.0     2.0     2.0     5.0     0.0     0.0     2.0     0.0
U5       5.0     5.0     4.0     0.0     0.0     4.0     2.0     5.0     5.0

      movie10
User
U1        3.5
U2        5.0
U3        2.0
U4        0.0
U5        0.0

In [9]:
ddf=ddf.fillna(0)
print(ddf)

      movie1  movie2  movie3  movie4  movie5  movie6    movie7  movie8  \
User
U1      -0.5    1.25    0.00    0.25     0.0    -1.0  0.000000    -0.5
U2       0.0    0.25    1.25   -0.75    -1.5     0.0  1.666667     0.5
U3       1.5   -2.75    0.25    0.25     0.0     0.0 -0.333333     0.0
U4      -2.5    0.00   -1.75    0.25     1.5     0.0  0.000000    -1.5
U5       1.5    1.25    0.25    0.00     0.0     1.0 -1.333333     1.5

      movie9  movie10
User
U1       0.0      0.0
U2       0.0      1.5
U3      -2.0     -1.5
U4       0.0      0.0
U5       2.0      0.0

In [10]:
ddf_t=ddf.transpose()

In [11]:
print(ddf_t)

User       U1        U2        U3    U4        U5
movie1  -0.50  0.000000  1.500000 -2.50  1.500000
movie2   1.25  0.250000 -2.750000  0.00  1.250000
movie3   0.00  1.250000  0.250000 -1.75  0.250000
movie4   0.25 -0.750000  0.250000  0.25  0.000000
movie5   0.00 -1.500000  0.000000  1.50  0.000000
movie6  -1.00  0.000000  0.000000  0.00  1.000000
movie7   0.00  1.666667 -0.333333  0.00 -1.333333
movie8  -0.50  0.500000  0.000000 -1.50  1.500000
movie9   0.00  0.000000 -2.000000  0.00  2.000000
movie10  0.00  1.500000 -1.500000  0.00  0.000000

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim=cosine_similarity(ddf_t)
print(cos_sim)

[[ 1.00000000e+00 -2.64385282e-01  7.09007325e-01 -1.30558242e-01
  -5.33001791e-01  4.26401433e-01 -3.48931579e-01  8.42749828e-01
   2.20587927e-17 -3.19801075e-01]
 [-2.64385282e-01  1.00000000e+00 -8.74639286e-03 -1.98101454e-01
  -5.39163866e-02  2.58302189e-17 -4.70620805e-02  1.87548443e-01
   8.62662186e-01  6.46996639e-01]
 [ 7.09007325e-01 -8.74639286e-03  1.00000000e+00 -6.95379487e-01
  -9.73328527e-01  8.11107106e-02  3.53996163e-01  7.43834305e-01
  -3.95004610e-18  3.24442842e-01]
 [-1.30558242e-01 -1.98101454e-01 -6.95379487e-01  1.00000000e+00
   8.16496581e-01 -2.04124145e-01 -7.12696645e-01 -4.51848057e-01
  -2.04124145e-01 -8.16496581e-01]
 [-5.33001791e-01 -5.39163866e-02 -9.73328527e-01  8.16496581e-01
   1.00000000e+00  0.00000000e+00 -5.45544726e-01 -6.32455532e-01
   0.00000000e+00 -5.00000000e-01]
 [ 4.26401433e-01  2.58302189e-17  8.11107106e-02 -2.04124145e-01
   0.00000000e+00  1.00000000e+00 -4.36435780e-01  6.32455532e-01
   5.00000000e-01  0.00000000e+00]
 [-3.48931579e-01 -4.70620805e-02  3.53996163e-01 -7.12696645e-01
  -5.45544726e-01 -4.36435780e-01  1.00000000e+00 -2.41522946e-01
  -3.27326835e-01  6.54653671e-01]
 [ 8.42749828e-01  1.87548443e-01  7.43834305e-01 -4.51848057e-01
  -6.32455532e-01  6.32455532e-01 -2.41522946e-01  1.00000000e+00
   4.74341649e-01  1.58113883e-01]
 [ 2.20587927e-17  8.62662186e-01 -3.95004610e-18 -2.04124145e-01
   0.00000000e+00  5.00000000e-01 -3.27326835e-01  4.74341649e-01
   1.00000000e+00  5.00000000e-01]
 [-3.19801075e-01  6.46996639e-01  3.24442842e-01 -8.16496581e-01
  -5.00000000e-01  0.00000000e+00  6.54653671e-01  1.58113883e-01
   5.00000000e-01  1.00000000e+00]]

In [13]:
d={"movie1":0,
  "movie2":1,
  "movie3":2,
  "movie4":3,
  "movie5":4,
  "movie6":5,
  "movie7":6,
  "movie8":7,
  "movie9":8,
  "movie10":9}

In [14]:
nu=int(input("Input the Number of User(1-5):"))
win=int(input("Window Size:"))
k=int(input("Top K elements:"))

Input the Number of User(1-5):1
Window Size:3
Top K elements:2

In [15]:
zc=ddf.columns[ddf.iloc[nu-1]==0]
print(zc)

Index(['movie3', 'movie5', 'movie7', 'movie9', 'movie10'], dtype='object')

In [16]:
zc_inx=[]
for i in range(len(zc)):
    zc_inx.append(d[zc[i]])
print(zc_inx)

[2, 4, 6, 8, 9]

In [31]:
cos_sim[2]

array([ 7.09007325e-01, -8.74639286e-03,  1.00000000e+00, -6.95379487e-01,
       -9.73328527e-01,  8.11107106e-02,  3.53996163e-01,  7.43834305e-01,
       -3.95004610e-18,  3.24442842e-01])

In [57]:
pred_rating={}
for i in range(len(zc)):
    a=cos_sim[zc_inx[i]].copy()
   
    a=sorted(a,reverse=True)
    
    ar=[round(num,5) for num in a]
    
    t_k=list(cos_sim[zc_inx[i]])
    tr=[round(num,5) for num in t_k]
    
    inx=[]
    for j in range(len(ar)):
        inx.append(tr.index(ar[j]))
    inx_org=inx[1:win+1]
    col=zc[i]
    num,deno=0,0
    simi=0
    for j in range(len(inx_org)):
        num+=(cos_sim[zc_inx[i]][inx_org[j]])*(df.iloc[nu-1][inx_org[j]])
        deno+=(cos_sim[zc_inx[i]][inx_org[j]])
    simi=num/deno
    pred_rating[col]=simi
    
print(pred_rating)

{'movie3': 2.412239166143957, 'movie5': 2.0, 'movie7': 2.13810693684415, 'movie9': 3.3894019950862226, 'movie10': 1.7955666414706983}

In [60]:
pr = (sorted(pred_rating.items(), key=lambda x: x[1], reverse=True))
print(pr)

[('movie9', 3.3894019950862226), ('movie3', 2.412239166143957), ('movie7', 2.13810693684415), ('movie5', 2.0), ('movie10', 1.7955666414706983)]

In [62]:
print("Recommended Movie for User",nu," are:")
for i in range(k):
    print(pr[i][0]," with rating =>",pr[i][1])

Recommended Movie for User 1  are:
movie9  with rating => 3.3894019950862226
movie3  with rating => 2.412239166143957